main , footer{
    text-align: center;
}

#text-output {
    width: 45%;
    margin: auto;
}

#text-output input {
    width: 100%;
    height: 200px;
    margin: 20px 0;
}

#keyboard {
    display: flex;
    flex-direction: column;
}

#keyboard div {
    margin: 3px;
}

#keyboard .space {
    width: 10%;
    margin: 5px auto;
}

#keyboard button {
    padding: 8px 10px;
    margin: 0 2px;
}